<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Forum Post Form</title>
</head>
<body>
    <h1>Create a New Forum Post</h1>
    <form action="/create" method="POST" enctype="application/json">
        <label for="title">Title:</label><br>
        <input type="text" id="title" name="title" required><br><br>

        <label for="content">Content:</label><br>
        <textarea id="content" name="content" rows="4" required></textarea><br><br>

        <label for="select-category"></label>
        <select>
            {{range .Categories}}
            <option>{{.Name}}</option>
            {{end}}
        </select>

        <input type="submit" value="Submit">
    </form>
</body>
</html>
