<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/style.css" type="text/css" />
    <title>Forum Post Form</title>
</head>

<body>
    <header>
        <nav class="topnav">
          <img src="/assets/images/logo.png" alt="Logo" />
          <ul>
            <li><a href="/">Home</a></li> 
            <li><a href="/login">Login</a></li>
            <li><a href="/logout">Logout</a></li>
            <li><a href="/me">Profile</a></li>
          </ul>
        </nav>
    </header>
    <main class="create-post-main">
        <div class="create-post">
            <h1>Create a New Forum Post</h1>
            <form action="/create" method="POST" enctype="application/json">
                <div class="title">
                    <label for="title">Title:</label><br>
                    <input type="text" id="title" name="title" required><br><br>
                </div>
                <div class="content">
                    <label for="content">Content:</label><br>
                    <textarea id="content" name="content" rows="4" required></textarea><br><br>
                </div>
                <div class="create-post-category">
                    <select name="category">
                        <option value="" disabled selected>Category</option>
                        {{range .Categories}}
                        <option value="{{.Id}}">{{.Name}}</option>
                        {{end}}
                    </select>
                    <input type="submit" value="+ Create Post" class="submit-post">
                </div>
            </form>
        </div>
    </main>
</body>

</html>