html {
    font-family: Helvetica, Arial, sans-serif;
}


header {
    background-color: white;
    border-bottom: 1px solid rgba(128, 128, 128, 0.3);
}

header ul {
    display: flex;
    justify-content: flex-end;
    margin-right: 55px;
    align-items: center;
}

header li {
    list-style-type: none;
}

header li a {
    padding: 10px;
    text-decoration: none;
    margin: 10px;
}

header li a:hover {
    color: red;
    text-decoration:none; 
}

header li a, a:visited {
    text-decoration: none;
    color:inherit;
}

.topnav {
    display: flex;
    justify-content: space-between;
    height: 60px;
}

body {
    width: 100%;
    margin: 0px;
    font-size: 18px;
}

main {
    display: flex;
    height: 100%;
    flex-direction: row-reverse;
}

.sidebar {
    width: 20vw;
    height: 100vh;
    background-color: white;
    margin-top: 20px;
}

.sidebar p {
    text-align: center;
    margin-left: 8px;
    font-weight: 350;
    margin-top: 13px;
    margin-bottom: 15px;
    
}


.posts-container {

    width: 80vw;
    min-height: fit-content;
    background-color: white;
    border-left: 1px solid rgba(128, 128, 128, 0.301);
    
}

.categories {
    display: flex;
    flex-direction: column;
    gap:10px;
    align-items: center;
    padding: 0;
}

.categories li {
    color: rgb(246, 71, 27);
    padding: 0;
    width: 100%;
    list-style: inside;
    text-align: center;
}



.categories li:hover {
    background-color: rgba(149, 149, 149, 0.275);
}


.categories li span {
    color: black;
    font-weight: 250;
}

.category {
    list-style-type: square;
}

.filters {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-left: 70px;
    margin-right: 70px;
}

.filters .select select {
    padding: 5px;
    margin-bottom: 10px;
}

.headers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 2px solid rgba(128, 128, 128, 0.301);
    margin: 0px 70px 0px 70px;
}

.right {
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-weight: lighter;
}


.right h3, .left h3 {
    font-weight: lighter;
}

.post {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 15px;
    padding-top: 15px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.3);
}

.posts {
    margin: 20px 70px 0 70px;
}

.posts .right {
    gap: 55px;
}

img {
   object-fit: contain;
   padding: 10px;
   margin-left: 6%;
  
}



